<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/assets/css/style.css' />
    <link rel="shortcut icon" href="/assets/images/logo/super_vet_logo_transparent.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/images/logo/super_vet_logo_transparent.png">
</head>